apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: trainingjob-operator-metrics
  namespace: default
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  endpoints:
    - port: metrics
      path: /metrics
      interval: 15s
      scheme: http
  namespaceSelector:
    matchNames:
      - default
