apiVersion: v1
kind: Service
metadata:
  name: controller-manager-metrics-service
  namespace: default
  labels:
    control-plane: controller-manager
spec:
  selector:
    control-plane: controller-manager
  ports:
    - name: metrics
      port: 8443
      targetPort: metrics
      protocol: TCP
  type: ClusterIP
