apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-api
  namespace: ml-system-dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ml-api
  template:
    metadata:
      labels:
        app: ml-api
    spec:
      containers:
      - name: ml-api
        image: ml-api:latest
        imagePullPolicy: IfNotPresent # Important for local builds!
        ports:
        - containerPort: 5000
        env:
        - name: MLFLOW_TRACKING_URI
          value: "http://mlflow-server:5001"
        - name: API_KEYS
          value: "test-key"